<!DOCTYPE html>
<html>
  <head>
    <title>Activity Suggester</title>
  </head>
  <body>
    <% if (!message) { %>
      <p><%= message %></p>
    <% } %>
    <h1>Activity: <%= activityPayload.activity %></h1>

    <% for(let i = 0; i < 3 && i < videoData.items.length; i++) { %>
    <div>
      <h2><%- videoData.items[i].snippet.title %></h2>
      <p><%= videoData.items[i].snippet.description %></p>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/<%= videoData.items[i].id.videoId %>"
        frameborder="0"
        allowfullscreen
      ></iframe>

      <hr />
    </div>
    <% } %>
  </body>
</html>
